
.wrapper {
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    width:500px;
    border-right: 10px solid;
    background-color: #fefefe;
  }
  
  .library-title {
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
  }
  
  .library-star {
    width: inherit;
  }
  
  .library-star__full {
    color: #ffce34;
  }
  
  .library-star__empty {
    color: #f2f2f2;
  }
  
  .library-main {
    padding: 50px 20px 30px 20px;
  }