
.library-book-of-the-day {
    margin-top: 30px;
    display: flex;
  }
  
  .library-book-of-the-day img {
    border-radius: 10px;
    width: 170px;
  }
  
  .library-book-of-the-day__box {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .library-book-of-the-day__title {
    font-size: 30px;
  }
  
  .library-book-of-the-day__author {
    color: #e4e4e4;
  }
  
  .library-book-of-the-day__category {
    display: flex;
    justify-content: space-around;
  }
  
  .library-book-of-the-day__category div{
    margin-top: 30px;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .library-book-of-the-day__btn {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .library-book-of-the-day__btn__book-mark {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffce33;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .library-book-of-the-day__btn__now {
    width: 140px;
    height: 45px;
    border-radius: 5px;
    background-color: #0d0d0d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  