@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500&family=Rubik&display=swap');

/* @import "./components/music-common.css"
@import "./components/music-header.css" */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
  background-color: #f7f7f7;
}

.btn-black {
  background-color: black;
  color: white;
}

.btn-white {
  background-color: #ffffff;
  color: #d9d6d9;
  box-shadow: 0 0 0 rgba(0,0,0,0.10), 0 0 10px rgba(0,0,0,0.10);
}

.btn-white i {
  margin-right: 5px;
  color: black;
}

.music-layout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.music-container {
  width: 320px;
  height: 650px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 25px;
  padding: 40px 25px 25px 25px;
}

.music-header {
  display: flex;
  justify-content: space-between;
}

.music-main__artist {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.music-main__artist__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}

.music-main__artist__name {
  font-size: 30px;
  font-weight: bolder;
}

.music-main__artist__category {
  font-size: 15px;
  color: #d7d7d7;
  text-align: center;
}

.music-main__btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.music-main__btn span {
  width: 110px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-main__artist-list {
  width: 90%;  
}

.music-main__artist-list-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #babbba;
  margin-bottom: 20px;
  position: relative;
}

.music-main__artist-list-box img {
  width: 50px;
  border-radius: 10px;
}

.music-main__artist-list-icon {
  color: white;
  position: absolute;
  font-size: 30px;
  left: 10px;
}

.music-main__artist-list__text {
  margin-right: 80px;
}

.music-main__artist-list__name {
  margin-bottom: 10px;
  font-size: 13px;
}

.music-main__artist-list__song {
  font-weight: bold;
  color: #535353;
}

.music-main__artist-play {
  bottom: 0px;
  position: absolute;
  height: 60px;
  width: 300px;
  padding: 0 30px;
  border-radius: 30px;
  color: #fcfcfc;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-main__artist-play__name {
  color: #646464;
  font-size: 15px;
  margin-bottom: 5px;
}

.music-main__artist-play__btn {
  width: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.music-main__play {
  display: flex;
  flex-direction: column;
  align-items: center;
/*   justify-content: space-around; */
  height: 100%;
}

.music-main__play img {
  margin-top: 60px;
  width: 200px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

.music-main__play__song {
  margin-top: 50px;
  font-size: 25px;
  font-weight: bolder;
}

.music-main__play__name {
  margin-top: 15px;
  color: #535353;
  font-size: 15px;
}

.music-main__play__bar {
  margin-top: 40px;
  width: 250px;
}

.music-main__play__bar__time {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #646464;
}

.music-main__play__bar input {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, black 0%, black 50%, #ececec 50%, #ececec 100%);
  border-radius: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  accent-color: black;
}

.music-main__play__btn {
  margin-top: 50px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-main__play__btn__repeat {
  font-size: 15px;
  color: rgba(0,0,0,0.3);
}

.music-main__play__btn__left {
  font-size: 30px;
}

.music-main__play__btn__play {
  font-size: 50px;
}

.music-main__play__btn__right {
  font-size: 30px;
}

.music-main__play__btn__random {
  font-size: 15px;
  color: rgba(0,0,0,0.3);
}